* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    color:#664229;

}

h1{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color:#664229;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
}

main {
    width: 100%;
    /* flex-grow: 1; */
    background-color: #664229;
    padding-top: 40px;

}

footer a{
    font-family: Arial, Helvetica, sans-serif;
    color:#664229;
}




header {
    width: 100%;
    height: 150px;
    padding-left: 15vw;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 0;
    left: 0;
    color:#664229;
}

#logo-topo {
    height: 150px;
    width: 150px;
    position: absolute;
    left: 30px;
    /* padding-left: 50px; */
}

#icons {
    display: flex;
    position: absolute;
    right: 60px;
    gap: 15px;
    border: 2px transparent solid;
    transition: all 1s ease-in-out
}



.facebook-icone {
    background-color: white;
    border-radius: 5px;
}

#facebook-header {
    transition: all 0.5s ease-in-out
}

#facebook-header:hover {
    transform: scale(1.2)
}

#instagram-header {
    transition: all 0.55s ease-in-out
}

#instagram-header:hover {
    transform: scale(1.2)
}

#whatsapp-header{
    transition: all 0.5s ease-in-out
}

#whatsapp-header:hover{
    transform: scale(1.2)
}





.galeria {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 10px;
    padding: 10px;
    /* flex-direction: row; */
    width: 1250px;
    height: 1000px;
    margin: auto;
    border: 1px solid black;
    background-color: white;
}

.galeria>article {
    border: 1px solid black;
}

#img1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 4;
}

#img2 {
    grid-row: 3 / span 4;
    grid-column: 1 / span 4;
}

#img3 {
    grid-row: 5 / span 2;
    grid-column: 5 / span 2;
}

#img4 {
    grid-row: 5 / span 4;
    grid-column: 7 / span 2;
}

#img5 {
    grid-row: 1 / span 4;
    grid-column: 5 / span 4;
}

#img6 {
    grid-row: 7 / span 2;
    grid-column: 1 / span 6;
}




.segunda-parte {
    height: 75vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 30px;
    width: 1250px;
    margin: auto;

}

#equipe{
    grid-row: 5 / span 2;
    grid-column: 1 / span 4;
    padding: 15px;
    border: 1px solid #664229;
    background-color: white;

}


#quem-somos {
    grid-row: 1 / span 4;
    grid-column: 1 / span 4;
    border: #664229 1px solid;
    padding: 15px;
    background-color: white;
}

#quem-somos p{
    font-size: large;
}


.carrossel {
    border: 1px solid #664229;
    padding: 15px;
    background-color: white;
}

#img-carrossel-1 {
    grid-row: 1 / span 2;
    grid-column: 7 / span 2;

}

#novidades {

    grid-row: 1 / span 2;
    grid-column: 5 / span 2;
}

#novidades ul{
    margin-top: 15px;
    margin-left: 20px;
    font-size: larger;
}

#img-carrossel-2 {

    grid-row: 3 / span 2;
    grid-column: 5 / span 2;
}

#nossa-loja {
    grid-row: 3 / span 2;
    grid-column: 7 / span 2;

}

#nossa-loja p{
    margin-top: 15px;
}

#img-carrossel-3 {
    grid-row: 5 / span 2;
    grid-column: 7 / span 2;

}

#pedido {

    grid-row: 5 / span 2;
    grid-column: 5 / span 2;
    position: relative;
    font-size: large;
}

#pedido p{
    margin-top: 15px;
    font-size: large;
}

#pedido-link{
    position: absolute;
    bottom: 15px;
    right: 15px;
}





.terceira-parte {
    width: 1250px;
    height: 52vh;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: auto;
    /* background-color: white; */
}

#localizacao{
    padding: 15px;
    background-color: white;
}

#contato{
    /* padding: 15px; */
    border: #664229 1px solid;
    text-align: center;
    background-color: white;

}

#contato h1{
    margin-bottom: 12px;
    margin-top: 12px;
    
}

.formulario{
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    border-top: #664229 1px solid;
    padding: 30px;
}

.formulario  select{
    height: 40px;
    width: 80%;
    /* border: #664229 1px solid; */

}

.formulario  input{
    height: 40px;
    width: 80%;
    /* border-radius: 5px; */
    /* border: #664229 1px solid; */

}

#mensagem{
    margin-top: 10px;
    height: 125px;
    margin-bottom: 10px;
}





footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 15vh;
    align-items: center;
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    border: #987544 1px solid;
    gap: 75px;
    color: #664229
}

.footer-1 {
    display: flex;
    gap: 15px;
    justify-self: flex-end;
    margin-left: 3.75vw;
}

.footer-2 {
    display: flex;
    /* flex-direction: row; */
    margin-left: 15vw;
    gap: 250px;
    justify-content: space-around;
}

.footer-2 a {
    width: 100px;
    align-self: center;
}

#facebook-footer {
    transition: all 0.5s ease-in-out;
}

#facebook-footer:hover {
    transform: scale(1.2)
}

#instagram-footer {
    transition: all 0.5s ease-in-out
}

#instagram-footer:hover {
    transform: scale(1.2)
}

#whatsapp-footer{
    transition: all 0.5s ease-in-out
}

#whatsapp-footer:hover{
    transform: scale(1.2)
}

#topo-pagina {
    width: 60px;
    justify-self: flex-end;
    transition: all 0.5s ease-in-out
}

#topo-pagina:hover {
    transform: scale(1.2)
}